body{
  margin:0;
  padding: 0;
}

.logo {
width: 100%;
      }


.h1{
  margin-top: 20px;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  font-size: 28px;
  color: #383733;
  text-transform: uppercase;
  text-align: center;
   }
.about_us{
  position: relative;
  text-align: center;
  
}
.p1{
  text-align: center;
  font-family: "Cabin";
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  color: #777777;
  margin-bottom: 60px;
   }
