body {
    margin: 0;
    padding: 0;
    background-image: url(../pictures/41.png);
    background-position-y: 1.7cm;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: rgb(179, 19, 19);*/
}

.events h5 {
    margin-top: -20px;
    text-align: center;
    color: white;
    font-size: 35px;
    line-height: 10px;
    margin-left: 5px;
}


/* ============== Headings ============== */

h1 {
    text-align: center;
    font-family: tahoma;
    margin-top: 83px;
    margin-bottom: 33px;
    color: rgb(248, 248, 248);
}


/* ============== Forms ============== */

form {
    text-align: center;
    margin: 0 auto;
}

.event-form-btn {
    float: none;
    border: 0;
    background: #f8583f;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.event-form-btn:hover {
    background: #f8583f;
}

h3 {
    color: rgb(180, 0, 0);
    font-weight: 200;
    text-align: center;
}

input[type="text"]:focus {
    box-shadow: 5px #f8583f;
    border: 3px solid #f8583f;
}


/* ============== error and redirecting messages ============== */

.erroRS p {
    color: red;
    font-family: tahoma;
    margin-top: 3px;
    margin-bottom: 40px;
    font-size: 12px
}


/*  Error Messages */

.input_errors {
    box-shadow: 0 0 5px #F9806E;
    border-color: #f8583f;
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}