

/* body styling */
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

}

/* title styling styling */
.title{
  text-align:center;
  margin-bottom:60px;
  color: #f9806E;
}
/* event page title styling */
.title h4{
  text-transform:capitalize;
  font-size:36px;
  position:relative;
  display:inline-block;
  padding-bottom:10px;
}
/* slogan styling */
.title h4 span{
  display:block;
  font-size:20px;
  font-style:italic;
  margin-bottom:10px;
}
/* our event border styling */
.title h4:before{
  position:absolute;
  content:"";
  width:373px;
  height:8px;
  background-color:#000000;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}

/* event items style */
.event .event-content{
  flex-basis:678px;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:2px solid #f9806E;
  display:block;
  align-items:left;
  margin-left: 50px;
  margin-right: 50px;
}
/* remove bottom border for selected items */
.event-content:nth-child(10), .event-content:nth-child(11), .event-content:nth-child(12){
  border-bottom:0;
}
/* removing the border radius when hover */
.event .single-event:hover img{
  border-radius:0px;

}
/* image styling*/
.event .single-event img{
  width: 250px;
  height: 210px;
  margin-left:29px;
  border-radius:50%;
  border:3px solid #f9806E;
  padding:3px;
  transition:.5s;
}
/* event  item styling*/
.h4{
  text-transform:capitalize;
  font-size:22px;
  border-bottom:1px dashed #f9806E;
  margin-bottom:5px;
  padding-bottom:5px;
}

.button {
  border: none;
  color: #f9806E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 50%;
}

.event{
  width: 646px;
  display: inline-grid;
  margin-left: 107px;
}



input[type="text"]:focus{
  box-shadow:5px #f8583f;
  border:3px solid  #f8583f;

}