
/*title styling*/
.testimonials h5{
    margin-top:-20px;
    text-align: center;
    color: #f1f1f1;
    font-size: 35px;
    line-height: 10px;
  }


  /*footer div styling styling html kolo*/
  body{
    margin: 0;
    padding: 0;
    background-image: url(../pictures/3.png);
    background-position-y: 1.3cm;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: rgb(179, 19, 19);*/
    
  }

  .testimonials-form{
    display: block;
    width: 63%;
    box-sizing: border-box;
    margin: auto;
    border: 0;
    background-color: rgb(8, 8, 8);
    padding: 20px  40px;
    outline: none;
    color: #f8583f;
    transition: 0.5s;
    text-align: center;
  }
  .testimonials-form:focus{
    box-shadow: 0 0 10px 4px #d8395b;
  }
  textarea .testimonials-form{
    resize: none;
    height: 120px;
  }
  .testimonials-form-btn{
    float:none;
    border: 0;
    background: #f8583f;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .testimonials-form-btn:hover{
    background:#f8583f;
  }
  
  
  form{
    text-align: center;
    margin: 0 auto;
  }
  
  
  h3{
    color:rgb(180, 0, 0);
    font-weight: 200;
    text-align: center;
  
  }
  
  input[type="text"]:focus{
    box-shadow:5px #f8583f;
    border:3px solid  #f8583f;
  
  }
  
  /* ============== error and redirecting messages ============== */
  
  
  .erroRS p {
  color:red;
  font-family: tahoma;
  margin-top: 3px;
  margin-bottom: 40px;
  font-size: 12px
  
  
  }
  /*  Error Messages */
  .input_errors{
    box-shadow:0 0 5px #F9806E;
    border-color: #f8583f;
  }
  