body{
    margin: 0;
    padding: 0;
    background-image: url(../pictures/3.png);
    background-position-y: 1.3cm;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: rgb(179, 19, 19);*/
    
  }

  .h1{
    text-align: center;
  }